:root {
    --clr-black: #171717;
    --clr-secondry: #444444;
    --clr-primary: #DA0037;
    --clr-white: #EDEDED;
}

body {
    background-color: var(--clr-black);
    color: var(--clr-white);
    font-size: 1vw;
}

a{
    color: var(--clr-white);
    text-decoration: none;
}

header {
    width: 80vw;    
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.25rem;
}

header>a{
    color: var(--clr-primary);
    margin-right: 2rem;
    background-color: var(--clr-white);
    padding: 0.25rem .5rem;
    font-weight: 700;
}

nav a{
    margin-left: 0.5rem;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

section {
    width: 80vw;
    margin: 0 auto;
}

.overview {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 1rem;
}

.overview>div,
.overview>a {
    width: 13rem;
    margin: .5rem;
    padding: .3rem;
    border: 1px solid var(--clr-secondry);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    transition: .25s;
}
.overview>div:hover{
    background-color: var(--clr-secondry);
}

.overview>a{
    font-size: 2rem;
}

.overview>div>div {
    padding: .2rem;
}

.overview>div>div:first-of-type {
    font-size: 1.25rem;
    font-weight: 700;
}

.overview>div>div:last-of-type {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin-top: .5rem;
}